body
  font-family: Arial, sans-serif

  h1
    background-image: url('/images/logo.png')
    background-repeat: no-repeat
    height: 50px
    width: 390px
    font-size: 1px
    text-indent: -9999px
    cursor: pointer
  
  .message_block
    background-image: url('/images/back.jpg')
    color: #eee
    font-size: 12px
    display: block
    float: left
    padding: 10px
    margin: 5px
    border-radius: 5px
    -moz-border-radius: 5px
  
  form
    input[name="body"] 
      margin-top: 10px
      margin-bottom: 10px
      width: 70%
      font-size: 15px
      padding: 5px 