$pink: #ba1c63

body
  font-family: Arial, sans-serif
  color: #111
  padding: 0px
  margin: 0px
  background-color: #fff

  a
    color: $pink
    text-decoration: none

  h1
    color: #d7d7d7
    text-indent: 5px
    font-weight: normal
    background-color: #b3b3b3
    margin-bottom: 5px
    font-size: 28px
    margin-top: 0px
    text-transform: lowercase
    cursor: pointer
  
  .message_block
    line-height: 21px
    padding: 10px
    padding-top: 20px
    border: 1px solid #ccc
    font-size: 16px
    display: block
    float: left
    position: relative
    margin: 5px
    max-width: 250px
    
    .actions
      position: absolute
      right: 0px
      top: 0px
      margin: 0px
      font-size: 11px
      line-height: 12px
      background-color: $pink
      padding: 2px

      a
        color: #fff
        background-color: $pink
        font-size: 11px
    
    span
      font-size: 35px
      color: #cfa6b7
      font-family: Georgia, serif
      line-height: 40px
    
    a
      background-color: #eee
      color: #111
      
      &:hover
        background-color: #e0367e
        color: #fff
  
  .wrapper
    padding: 5px
    form
      input[name="body"] 
        border: 1px solid #111
        outline: none
        margin-top: 10px
        margin-bottom: 10px
        width: 91%
        color: #9d9d9d
        font-size: 20px
        padding: 5px 
      
      input[type="submit"]
        background-color: $pink
        color: #fff
        border: 0px
        font-size: 15px
        padding: 5px