.wrapper
  %a{ :href => "/popular" } popular tags

  %form{ :method => "post", :action => "/create" }
    %input{ :type => "text", :name => "body" }
    %input{ :type => "text", :name => "email" }
    %input{ :type => "submit", :value => "add" }
  
- @messages.each do |message|  
  .message_block
    .actions
      %a{ :href => "/post/#{message.id}"} link
    %span &#147;
    = message.body
    %span &#148;